    <div class="col-12 col-md-9 ">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
                <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
                <li class="breadcrumb-item">
                    <a href="{% url 'subcategory_detail' category.id %}">{{ category.category_name }}</a>
                </li>
                <li class="breadcrumb-item active" aria-current="page">{{ subcategory.name }}</li>
            </ol>
        </nav>

<div class="row row-cols-1 row-cols-sm-2 row-cols-lg-3 g-4 mb-3">
    {% for blog in blogs %}
    <div class="col">
        <div class="mycard">
            <div class="mycard-img">
                <a href="{% url 'blog_detail' blog.id %}">
                    <img src="{{ blog.blog_image.url }}" 
                         alt="{{ blog.title }}"
                         class="mycard-imgbox">
                </a>
            </div>
            <hr class="mycard-divider">
            <div class="mycard-footer">
                <div class="mycard-title">
                    <a href="{% url 'blog_detail' blog.id %}">{{ blog.title }}</a>
                </div>
            </div>
        </div>
    </div>
    {% empty %}
    <p>Không có bài viết nào.</p>
    {% endfor %}
</div>



            </div>