<div class="col-12 col-md-9">
    <h1 class="mb-4 text-center">{{ country.name }}</h1>

    <!-- Card thông tin + ảnh -->
    <div class="card shadow-sm mb-3">
        <div class="row g-0">
            <!-- Cột thông tin (trái) -->
            <div class="col-md-6">
                <div class="card-body">
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item"><strong>Thủ đô:</strong> {{ country.capital }}</li>
                        <li class="list-group-item"><strong>Vị trí địa lý:</strong> {{ country.geography|safe }}</li>
                        <li class="list-group-item"><strong>Diện tích:</strong> {{ country.area|safe }}</li>
                        <li class="list-group-item"><strong>Dân số:</strong> {{ country.population|safe }}</li>
                        <li class="list-group-item"><strong>Ngôn ngữ chính:</strong> {{ country.language|safe }}</li>
                        <li class="list-group-item"><strong>Chính thể:</strong> {{ country.government|safe }}</li>
                        <li class="list-group-item"><strong>Kinh tế:</strong> {{ country.economy|safe }}</li>
                        <li class="list-group-item"><strong>Tiền tệ:</strong> {{ country.currency|safe }}</li>
                        <li class="list-group-item"><strong>Khí hậu:</strong> {{ country.climate|safe }}</li>
                    </ul>
                </div>
            </div>

            <!-- Cột ảnh (phải) -->
            <div class="col-md-6 text-center pb-3">
                {% if country.flag %}
                <div class="mb-3">
                    <h6 class="fw-bold">Quốc kỳ</h6>
                    <img src="{{ country.flag.url }}" class="img-fluid border" alt="{{ country.name }} flag" style="max-height:80px;">
                </div>
                {% endif %}

                {% if country.map %}
                <div>
                    <h6 class="fw-bold">Bản đồ</h6>
                    <img src="{{ country.map.url }}" class="img-fluid border" alt="{{ country.name }} map" style="max-height:550px;">
                </div>
                {% endif %}
            </div>
        </div>
    </div>


</div>
