 {% load static %}
 
  <!-- Footer -->
<footer class="bg-secondary bg-opacity-100 text-light pt-4 pb-2">
  <div class="container">
    <div class="row">
      <!-- Cột 1 -->
      <div class="col-md-4 mb-3">
        <h5>Công Nghệ X</h5>
        <p>Cung cấp kiến thức về khoa học, tin học, lập trình hoàn toàn miễn phí</p>
      </div>

      <!-- Cột 2 -->
      <div class="col-md-4 mb-3">
       
      </div>

      <!-- Cột 3 -->
      <div class="col-md-4 mb-3">
        <h5>Liên hệ</h5>
        <ul class="list-unstyled">
          <li>Email: </li>
          <li>Youtube: </li>
          <li>Facebook</li>
        </ul>
      </div>
    </div>

    <!-- Dòng cuối -->
    <div class="text-center mt-3 border-top pt-3">
      <p class="mb-0">Copyright &copy; CONGNGHE X </p>
    </div>
  </div>
</footer>