<div class="col-md-3 d-none d-md-block mb-2">
    {% include "base/youtube_info.html" %}
    <div class="list-group">
        {% for cat in categories reversed %}
            <div class="category-group mb-3">  
                <!-- Category -->
                  <li class="list-group-item d-flex align-items-center px-2 custom-list-item">
                      {% if cat.icon %}
                          <img src="{{ cat.icon.url }}" alt="{{ cat.category_name }}" class="me-2" width="20">
                      {% endif %}
                      <a class="fw-bold text-decoration-none" href="{% url 'subcategory_detail' cat.id %}">
                          {{ cat.category_name }}
                      </a>
                  </li>

                <!-- Subcategories -->
                {% for sub in cat.subcategories.all %}
                    <li class="list-group-item px-2 py-1 d-flex align-items-center">
                        {% if sub.icon %}
                            <img src="{{ sub.icon.url }}" alt="{{ sub.name }}" class="me-1" width="20">
                        {% endif %}
                        <a class="nav-link p-0 ps-2" href="{% url 'childcategory_detail' sub.id %}">
                            {{ sub.name }}
                        </a>
                    </li>
                {% empty %}
                    <li class="list-group-item px-2 py-1 ms-4 text-muted small">Chưa có subcategory</li>
                {% endfor %}
            </div>
        {% endfor %}
    </div>
</div>
