<div class="col-12 col-md-3 mt-3 mt-md-0" style="border-left: 1px solid black;">
    <h5 class="pt-3 border-bottom pb-2 d-flex align-items-center">
        <img src="{{ categories.5.subcategories.all.0.icon.url }}" class="me-2" style="width: 26px; height: 26px;" alt="{{ categories.3.subcategories.all.0.name }}">
        <a class="nav-link mono_b" href="{% url 'childcategory_detail' categories.5.subcategories.all.0.id %}">
            {{ categories.5.subcategories.all.0.name }}
        </a>
    </h5>

    {% for child in categories.5.subcategories.all.0.childcategories.all|slice:":3" %}
    <div class="card shadow-sm mb-3 card-yellow-border">
        {% if child.image %}
        <a href="{% url 'country_detail' child.id %}">
            <img src="{{ child.image.url }}" 
                 class="card-img-top" 
                 alt="{{ child.title }}" 
                 style="width: 100%; height: 160px; object-fit: cover;">
        </a>
        {% endif %}
        
        <div class="card-body text-center">
            <a href="{% url 'country_detail' child.id %}" class="text-decoration-none text-dark">
                <b class="card-title d-block mb-2">{{ child.title }}</b>
            </a>

            {% if child.short_description %}
            <p class="text-muted small mb-0">
                {{ child.short_description|truncatewords:25 }}
            </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}


    <h5 class="pt-3 border-bottom pb-2 d-flex align-items-center">
        <img src="{{ categories.3.subcategories.all.0.icon.url }}" class="me-2" style="width: 26px; height: 26px;" alt="{{ categories.3.subcategories.all.1.name }}">
        <a class="nav-link mono_b" href="{% url 'childcategory_detail' categories.3.subcategories.all.0.id %}">
            {{ categories.3.subcategories.all.1.name }}
        </a>
    </h5>

    {% for child in categories.3.subcategories.all.0.childcategories.all|slice:":2" %}
    <div class="card shadow-sm mb-3 card-yellow-border">
        {% if child.image %}
        <a href="{% url 'country_detail' child.id %}">
            <img src="{{ child.image.url }}" 
                 class="card-img-top" 
                 alt="{{ child.title }}" 
                 style="width: 100%; height: 160px; object-fit: cover;">
        </a>
        {% endif %}

        <div class="card-body text-center">
            <a href="{% url 'country_detail' child.id %}" class="text-decoration-none text-dark">
                <b class="card-title d-block mb-2">{{ child.title }}</b>
            </a>

            {% if child.short_description %}
            <p class="text-muted small mb-0">
                {{ child.short_description|truncatewords:25 }}
            </p>
            {% endif %}
        </div>
    </div>
    {% endfor %}
</div>
