<div class="container">
<h5 class="pt-3 text-secondary border-bottom pb-2">
    <i class="bi bi-tools me-2"></i>
      Lịch sử phát triển máy tính
  </h5>
 <div class="supercard">
    <div class=" swiper">
        <div class="card-wrapper">
            <ul class="card-list swiper-wrapper">
                <li class="card-item swiper-slide">
                    <a href="" class="card-link">
                        <img src="images/5-giai-doan-phat-trien-cua-cong-nghe-thong-tin-phan-1-2.png" alt="Card-image"  class="card-image">
                        <h5 class="card-title pt-3">
                            Máy tính cổ đại Apacus
                        </h5>
                        <p class="pt-3 text-dark" >
                          40 năm kể từ Quốc khánh 2/9/1985, trong đội hình diễu binh mới có sự xuất hiện của khối xe pháo quân sự, trong đó có lực lượng tăng thiết giáp.
                        </p>
                     </a>
                </li>

                <li class="card-item swiper-slide">
                    <a href="" class="card-link">
                        <img src="images/5-giai-doan-phat-trien-cua-cong-nghe-thong-tin-phan-1-2.png" alt="Card-image"  class="card-image">
                        <h5 class="card-title pt-3">
                            Máy tính cổ đại Apacus
                        </h5>
                         <p class="pt-3 text-dark">
                            40 năm kể từ Quốc khánh 2/9/1985, trong đội hình diễu binh mới có sự xuất hiện của khối xe pháo quân sự, trong đó có lực lượng tăng thiết giáp.
                        </p>
                     </a>
                </li>

                <li class="card-item swiper-slide">
                    <a href="" class="card-link">
                        <img src="images/5-giai-doan-phat-trien-cua-cong-nghe-thong-tin-phan-1-2.png" alt="Card-image"  class="card-image">
                        <h5 class="card-title pt-3">
                            Máy tính cổ đại Apacus
                        </h5>
                         <p class="pt-3 text-dark">
                            40 năm kể từ Quốc khánh 2/9/1985, trong đội hình diễu binh mới có sự xuất hiện của khối xe pháo quân sự, trong đó có lực lượng tăng thiết giáp.
                        </p>
                     </a>
                </li>


                   <li class="card-item swiper-slide">
                    <a href="" class="card-link">
                        <img src="images/5-giai-doan-phat-trien-cua-cong-nghe-thong-tin-phan-1-2.png" alt="Card-image"  class="card-image">
                        <h5 class="card-title pt-3" >
                           Máy tính cổ đại Apacus
                        </h5>
                        <p class="pt-3 text-dark">
                            40 năm kể từ Quốc khánh 2/9/1985, trong đội hình diễu binh mới có sự xuất hiện của khối xe pháo quân sự, trong đó có lực lượng tăng thiết giáp.
                        </p>
                     </a>
                </li>
            </ul>

            <div class="swiper-pagination"></div>
            <div class="swiper-slide-button swiper-button-prev"></div>
            <div class="swiper-slide-button swiper-button-next"></div>

        </div>

    </div>

 </div>
 </div>